*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 16px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 32px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.container h2 {
    font-size: 1rem;
    opacity: 0.5;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.container .code {
    background: #141414;
    border-radius: 6px;
    border: 0;
    color: #d4d4d4;
    font-family: monospace;
    font-size: 12px;
    padding: 8px;
    width: 100%;
    resize: none;
    field-sizing: content; /** el campo se ajusta el contenido */    
}

.test-cases {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.test-cases .test-case {
    background: #2a2a2a;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.test-cases .test-case header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 8px;
    align-items: center;
}

.test-cases .test-case .test-id {
    border-radius: 9999px;
    background: #141414;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.test-cases .test-case .code {
    border-radius: 0 0 6px 6px;
}

.test-case .ops {
    opacity: 0.5;
    font-size: 9px;
}

.send-button {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 6px 12px;
    width: fit-content;
    transition: background 6s ease;
}

.send-button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.chart-container .chart {
    width: 200px;
    height: 300px;
}

.chart-container .bar {
    transition: height 0.3s ease;
    transform: scale(1, -1);
}

.chart-container .percentages {
    opacity: 0.5;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    gap: 32px;
    margin-top: 16px;
}