:root {
    --background: #2C2C2C;
    --background-card: #3E3D3D;
    --text-color: white;
    --text-content: #bbb;
}

body {
    background: var(--background);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

.card {
    background: var(--background-card) !important;
}

.p-gray {
    color: var(--text-content);
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.avatar {
    --bs-avatar-size: calc(2.8125rem + var(--bs-border-width)*2);
    --bs-avatar-border-radius: 50rem;
    --bs-avatar-font-size: 0.875rem;
    --bs-avatar-bg: var(--text-color);
    --bs-avatar-color: var(--bs-body-color);
    --bs-avatar-group-offset: calc(var(--bs-avatar-size)/-5);
    --bs-avatar-group-outline-width: calc(var(--bs-avatar-size)/15);
    --bs-avatar-status-border-width: var(--bs-border-width);
    --bs-avatar-status-border-color: var(--bs-border-color);
    align-items: center;
    background-color: var(--bs-avatar-bg);
    border-radius: var(--bs-avatar-border-radius);
    color: var(--bs-primary);
    display: inline-flex;
    font-size: var(--bs-avatar-font-size);
    height: var(--bs-avatar-size);
    justify-content: center;
    min-width: var(--bs-avatar-size);
    position: relative;
    text-transform: uppercase;
    width: var(--bs-avatar-size);
}

.text-small {
    font-size: 0.8rem;
}

.text-small span {
    height: 7px;
    width: 7px;
    display: inline-block;
}

.text-small:first-child span {
    background-color: var(--bs-primary);
    border-radius: 9999px;
}

.text-small:last-child span {
    background-color: var(--bs-secondary);
    border-radius: 9999px;
}

.chart {
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .chart {
        height: auto;
    }
}

/*#performance {
    width: 1066px !important;
}*/

.accordion h2 button {
    font-size: 0.8rem;
    background: var(--background);
    color: var(--text-color);
}

.accordion .accordion-item {
    border: none;
}

/** cambio de logo svg del acordion */
.accordion .accordion-button.collapsed::after,
.accordion .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion h2 button:hover {
    background: var(--background-card);
}

.accordion h2 button:focus {
    box-shadow: none;
}

.accordion h2 button:not(.collapsed) {
    background: var(--background-card);
    color: white;
    box-shadow: none; /* retira la sombra en la parte inferior */
}

.accordion .accordion-body {
    background: var(--background-card);
    color: var(--text-content);
    font-size: 0.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion .list {
    list-style: none;
}

.accordion .list li {
    padding: 10px;
    transition: color 0.3s ease;
}

.accordion .list li:hover {
    color: var(--text-color);
}

/** dashboard icon */
.text-secondary path:nth-child(2) {
    color: #f9bc06;
}

.text-secondary path:nth-child(1),
.text-secondary path:nth-child(3) {
    color: #644b02;
}

.input-group {
	--bs-input-group-bg: var(--background-card);
	--bs-input-group-border-width: 1px;
	--bs-input-group-border-color: transparent;
	--bs-input-group-border-radius: 0.5rem;
	--bs-input-group-box-shadow: 0 0 transparent;
	--bs-input-group-focus-border-bg: #17191c;
	--bs-input-group-focus-border-color: var(--bs-primary);
	--bs-input-group-focus-box-shadow: 0 0 0 0.25rem rgba(0,85,255,.15);
	background-color: var(--bs-input-group-bg);
	border: var(--bs-input-group-border-width) solid var(--bs-input-group-border-color);
	border-radius: var(--bs-input-group-border-radius);
	box-shadow: var(--bs-input-group-box-shadow);
	transition: all .3s ease-in-out;
}

/* sobrescribe los estilos al enfocar el input */
.input-group:focus-within {
    background-color: var(--background);
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(0, 85, 255, 0.15);
}

/* limpiamos los estilos por defecto de los elementos del formulario */
.input-group > * {
    background: transparent !important;
    border-width: 0 !important;
    box-shadow: none !important;
}

.input-group .form-control {
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    font-weight: 500;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,background-color .15s ease-in-out;
}

/* color placeholders */
.input-group .form-control::placeholder {
    color: var(--text-content);
    opacity: 0.5; /* Firefox */
}
  
.input-group .form-control::-ms-input-placeholder { /* Edge 12-18 */
    color: var(--text-content);
}

.input-group kbd {
    background-color: rgba(57,62,70);
}

.search-input {
    max-width: 400px;
}

.user-dropdown .dropdown-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--text-content);
    padding: 0.75rem 1rem;
    text-align: center;
    line-height: 1.5;
    font-weight: 380;
    font-size: 1.2rem;
    border-radius: 5px;

}

.user-dropdown .dropdown-toggle:hover {
    background-color: var(--background-card);
}

.user-dropdown .dropdown-menu {
    background-color: var(--background);
    padding: 0;
}

.user-dropdown .dropdown-menu a {
    color: var(--text-color);
    text-decoration: none;
}

.user-dropdown .dropdown-item:hover,
.user-dropdown .dropdown-item:focus {
    background-color: var(--background-card);
    border-radius: 5px;
}

.user-dropdown .dropdown-item {
    padding: 12px 15px;
}

.user-dropdown .dropdown-divider {
    border-top: 1px solid #5b5b5b;
}